<div class="nav flex-column nav-tabs" role="tablist" aria-orientation="vertical">
  <% @results.keys.each do |key| %>
    <% label = key.to_s %>
    <% selected = ( label == 'photos' ) %>
    <%= link_to label, '#' + label, 
                class: 'nav-link',
                id: label + '-tab',
                role: 'tab',
                "data-toggle" => "tab",
                "aria-selected" => selected.to_s %>
  <% end %>
</div>

