<div class="tab-content">
    <% @results.each do |key, result| %>
        <% show = (key.to_s == 'photos') ? 'active' : '' %>
        <div class="tab-pane <%= show %>" id="<%= key.to_s %>" role="tabpanel" aria-labelledby="<%= key %>-tab">
            <%= result.inspect %>
        </div>
    <% end %>
</div>