<div class="tab-content">
    <% @results.each do |key, result| %>
        <% show = ( key == 'photos' ) ? 'show active' : '' %>
        <div class="tab-pane fade <%= show %>" id="<%= key %>" role="tabpanel" aria-labelledby="<%= key %>-tab">
            <%= key %>
        </div>
    <% end %>
</div>