<% if params[:s] %>
        <h1 class="pb-4">Search results for: "<%= params[:s] %>"</h1>
        <div id="search-results" class="row">
                <div id="search-nav" class="col-12 col-sm-4">
                        <%= render 'pages/nav' %>
                </div>
                <div id="search-results" class="col">
                        <%= render 'pages/results' %>
                </div>
        </div>
<% end %>