<nav class="navbar navbar-dark bg-success mb-4">
    <div class="container">
        <%= link_to 'Local Flickr', root_url, class: 'navbar-brand' %>
        <%= render 'layouts/search' %>
    </div>
</nav>